/* You can add global styles to this file, and also import other style files */
// modern normalize library to keep the styles uniform for different browsers
@import '../node_modules/modern-normalize/modern-normalize.css';
// primeflex library to use its responsive grid layout
@import '../node_modules/primeflex/primeflex.css';
// primeicons library for icons
@import "primeicons/primeicons.css";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}