
// modern normalize library to keep the styles uniform for different browsers
@import '../node_modules/modern-normalize/modern-normalize.css';
// primeflex library to use its responsive grid layout
@import '../node_modules/primeflex/primeflex.css';
// primeicons library for icons
@import "primeicons/primeicons.css";
// primeng styles
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #141414;
}
.container {
    margin: .5rem;
    padding: .5rem;
}

a {
    color: white;
    text-decoration: none;
}